// colors, image paths, and web fonts
$red: #E65C43;
$orange: #F25C43;
$white: #FFF;
$dark-gray: #666;
$black: #30353D;
$light-gray: #F5F6F6;

$social-media: url('../images/social-media.png'); 
$background-page: url('../images/bg.gif');
$vecta-logo: url('../images/logo.png');

$font: 'Roboto', sans-serif;